.box
  .box_content
    #searchbar
      %form{ :method => "get"}
        %input{ :type => "text", :name => "search", :placeholder => "ARE..."}
    %ul#suggestions
      - LINKS.each do |key, link|
        - if link["origin"] == @last
          - for elem in link['target'].constantize.order(link['sort']).limit(link['number']).find(associated_ids(@origin, link))
            - target = elem
            %li
              = image_tag target.image
              = link_to raw(t(link['label'], :name => target.name)), @last_url + "#{link['url']}/#{target.permalink}"


