$darkgray: #363636
$blue: #0083a9
$red: #d83535
$lightgray: #e1e1e1

head
  height: 100%

body
  background: $lightgray
  font-family: Sans-serif
  margin: 0
  padding: 0
  height: 100%
  min-width: 1000px

div.clear
  clear: both

img
  margin: 0
  padding: 0
  border: none
a
  color: lighten($darkgray, 20)
  text-decoration: none
  &:hover
    color: $blue

ul
  margin: none
  padding: none
  list-style: none
  li
    margin: none
    padding: none


h1
  display: block
  width: 50%
  margin: 20px auto
  color: $darkgray
  height: 30px

#rightcol
  margin: 50px 20px 50px 0
  float: right
  width: 20%
  border: 1px solid darken($lightgray, 10)
  background: darken($lightgray, 5) url(../images/bg-pattern.png)
  border-radius: 5px
  #login
    border: 1px solid darken($lightgray, 10)
    background: $lightgray
    border-radius: 3px
    padding: 5px
    font-size: 0.9em
    font-weight: bold
    a
      display: block
    img.user
      float: right
      width: 34px
      height: 34px


#wrapp_box
  width: 75%
  overflow: hidden
  border: 1px solid darken($lightgray, 10)
  background: darken($lightgray, 5) url(../images/bg-pattern.png)
  border-radius: 5px
  >ul
    min-width: 5000em
    margin-left: 275px

.box
  float: left
  background: white
  width: 800px
  border: 1px solid darken($lightgray, 10)
  min-height: 600px
  min-width: 600px
  margin: 15px
  padding: 10px

.box_content
  padding: 15px

#searchbar
  text-align: center
  margin-bottom: 40px
  input
    height: 45px
    width: 97%
    padding: 5px
    font-size: 1.8em

#suggestions
  list-style: none
  margin: 0
  padding: 0
  li
    padding: 10px
    a
      padding: 5px
      font-size: 1.5em
      display: block
      &:hover
        color: $blue
        background: $lightgray
        border-radius: 3px
      img
        vertical-align: middle


